[Desktop Entry]
Encoding=UTF-8
Name=LoveCoin
Comment=LoveCoin P2P Cryptocurrency
Comment[fr]=LoveCoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=LoveCoin, eşten eşe kriptografik sanal para birimi
Comment[es]=LoveCoin, una criptomoneda P2P
Exec=/usr/bin/lovecoin-qt
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/bitcoin80.xpm
MimeType=x-scheme-handler/lovecoin;
Categories=Office;
